{%- assign product = all_products[productId] -%}
<div class="additional-sale align-items-vertical justify-content-start">
  <input type="checkbox" class="additional-sale-checkbox plus-minus" id="{{ product.id }}" name="{{ product.id }}"
         {% if service %}
           data-service="{{ product.title }}"
           data-price="{{ product.price | money }}"
         {% endif %}
         value="{{ product.first_available_variant.id }}">

  <img class="additional-sale-img" src="{{ product.featured_image | img_url: small }}"/>
  <label for="{{ product.id }}">{{ product.title }} - {{ product.price | money }}
    {% if description != '' and variant != true and textInput != true %}
      <br/> {{ description }}
    {% endif %}
    {% if variant %}
      <br/> {{ description }} <select class="custom-select additional-sale-variant" name="id" id="additional-sale-variant">
        {% for variant in product.variants %}
          {% if variant.available %}
            <option {% if current_variant.id == variant.id %} selected {% endif %} data-title="{{ variant.title }}" value="{{ variant.id }}">
              {{ variant.title }}
            </option>
          {% else %}
            <option disabled="disabled">
              {{ variant.title }} - Udsolgt
            </option>
          {% endif %}
        {% endfor %}
      </select>
    {% endif %}
    {% if textInput %}
      <br/> <input class="form-control additional-sale-textInput" placeholder="{{ description }}" />
    {% endif %}
  </label>
</div>
