<div class="fixed-top">
  {% if section.settings.info-bar-text != '' %}
    <div class="info-bar">
      <div class="container">
        <div class="row">
          <div class="col">
            <a href="{{ section.settings.info-bar-link }}">
              <p>{{ section.settings.info-bar-text }}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
    <div class="container-fluid">
      <a class="navbar-brand ms-auto me-auto order-1 order-lg-0" href="/">
        {% render 'logo-wavell' %}
      </a>
      <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars"
              aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler order-0">
        <i class="bi bi-list"></i>
      </button>

      <div id="navbarContent" class="collapse navbar-collapse order-4 order-lg-1">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for link in linklists.main-menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
              <li class="nav-item padding-nav-bottom dropdown megamenu">
                <a id="megamenu" href="{{ link.url }}" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false" class="nav-link ">
                  {{ link.title }}
                </a>
                <div aria-labelledby="megamenu" class="dropdown-menu border-0 p-0 m-0">
                  <div class="container menu-desktop">
                    <div class="row">
                      {% for childlink in linklists[child_list_handle].links limit:4 %}
                        <div class="col">
                          <a class="dropdown-item" href="{{ childlink.url }}">
                            <div>
                              <img src="{{ childlink.object.featured_image | img_url: '256x' }}" />
                              <p>{{ childlink.title | escape }}</p>
                            </div>
                          </a>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="app menu-mobile">
                    <ul class="hs full no-scrollbar">
                      {% for childlink in linklists[child_list_handle].links limit:4 %}
                        <li class="item">
                          <a href="{{ childlink.url }}">
                            <div>
                              <img src="{{ childlink.object.featured_image | img_url: '256x' }}" />
                              <p>{{ childlink.title | escape }}</p>
                            </div>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </li>
            {% else %}
              <li class="nav-item padding-nav-bottom">
                <a class="nav-link active" aria-current="page" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
          <li class="nav-item d-lg-none padding-nav-bottom dropdown megamenu">
            <a href="/search" class="nav-link "><i class="bi bi-search"></i> Søg</a>
          </li>
        </ul>
      </div>
      <div class="order-2 d-none d-lg-block padding-nav-bottom">
        <a class="nav-link" href="/cart">INDKØBSKURV | {{ cart.item_count }}</a>
      </div>
      <div class="order-2 d-none d-lg-block padding-nav-bottom">
        <a class="nav-link" href="/search">
          <i class="cart-icon bi bi-search"></i>
        </a>
      </div>
      <div class="order-2 d-lg-none">
        <a href="/cart">
          <i class="cart-icon bi bi-basket"></i>
        </a>
      </div>
    </div>
  </nav>
</div>
<style>
  .info-bar a {
      color: {{ section.settings.info-bar-textColor }};
  }
  .info-bar a:hover {
      color: {{ section.settings.info-bar-hoverTextColor }};
  }
  .info-bar {
      background-color: {{ section.settings.info-bar-bgColor }};
  }
</style>
{% schema %}
{
  "name": "Navigation",
  "settings": [
    {
      "type": "text",
      "label": "Info bar tekst",
      "id": "info-bar-text"
    },
    {
      "type": "url",
      "label": "Info bar link",
      "id": "info-bar-link"
    },
    {
      "type": "color",
      "label": "Info bar baggrundsfarve",
      "id": "info-bar-bgColor"
    },
    {
      "type": "color",
      "label": "Info bar tekstfarve",
      "id": "info-bar-textColor"
    },
    {
      "type": "color",
      "label": "Info bar hover tekstfarve",
      "id": "info-bar-hoverTextColor"
    }
  ]
}
{% endschema %}